.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img, 
.intro-img svg{
    height: 100vh;
}

.foto-principal {
    width: 60rem;
    padding-top: 15rem;
}

.second-page-content {
    max-width: 64rem;
    height: 100vh;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.teste{
  height: auto;  
}
